body {
            background: url(./public/assets/Images/Bg.png); 
            font-family: 'Quicksand', Arial, Helvetica, sans-serif;
            color: transparent;
        }

            .container {
                width: 1300px;
                height: 620px;
                margin: 40px auto;
                padding: 10px;
                background: -webkit-linear-gradient(#d53b3b, #972323);
                border-radius: 13px;
                align-items: center;
                box-shadow: 0 0 20px rgba(0,0,0,0.2);
            }

            .container2 {
                width: 1280px;
                height: 610px;
                margin: 5px auto;
                padding: auto;
                background-color: #ffffff;
                border-radius: 13px;
                align-items: center;
            }

            .picture img {
                width: 400px;
                margin: 10px 30px;

                animation-name: bob;
                animation-duration: 2s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }
            

            .container3 {
                width: 450px;
                height: 110px;
                background: -webkit-linear-gradient(#d53b3b, #972323);
                border-radius: 13px;
                margin: 5px 10px;
                padding: 5px;

                animation-name: bob;
                animation-duration: 2s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }

            .container4 {
                width: 440px;
                height: 90px;
                background-color: #ffffff;
                border-radius: 13px;
                margin: auto;

                animation-name: bob;
                animation-duration: 2s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }

            .text {
                font-size: 60px;
                background: -webkit-linear-gradient(#d53b3b, #972323);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                display: flex;
                margin: 10px 15px;
                justify-content: center;
            }

            .container5 {
                width: 760px;
                height: 140px;
                background: -webkit-linear-gradient(#d53b3b, #972323);
                border-radius: 13px;
                position: absolute;
                top: 70px;
                left: 610px;

                animation-name: bob;
                animation-duration: 2s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }

            .container6 {
                width: 740px;
                height: 110px;
                background-color: #ffffff;
                border-radius: 13px;
                margin: auto;

                animation-name: bob;
                animation-duration: 2s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }

            @keyframes bob {
                0% {
                    transform: translateY(0);
                }

                100% {
                    transform: translateY(-5px);
                }
            }

            .text1 {
                font-size: 80px;
                background: -webkit-linear-gradient(#d53b3b, #972323);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                display: flex;
                margin: 20px 15px;
                justify-content: center;
            }

            .text2 {
                font-size: 30px;
                background: -webkit-linear-gradient(#d53b3b, #972323);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                display: flex;
                font-weight: bolder;
                margin: 10px 15px;
                justify-content: center;

                animation-name: bob;
                animation-duration: 2s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }



        footer {
            font-family: 'Quicksand', Arial, Helvetica, sans-serif;
            height: 50px;
            background: -webkit-linear-gradient(#d53b3b, #972323);
            border-radius: 13px;
            width: 700px;
            justify-content: center;
            margin: auto;
            padding:5px;
            z-index: 10;
        }

        .insidefooter {
            font-family: 'Quicksand', Arial, Helvetica, sans-serif;
            height: 30px;
            background: #fff;
            border-radius: 13px;
            width: 680px;
            justify-content: center;
            margin: auto;
            padding: 10px;
            z-index: 10;
        }

        .text3 {
                font-size: 20px;
                background: -webkit-linear-gradient(#d53b3b, #972323);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                display: flex;
                font-weight: bolder;
                margin: 5px auto;
                justify-content: center;
        }

        figcaption {
            font-size: 30px;
             background: -webkit-linear-gradient(#d53b3b, #972323);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin: auto 30px;

            animation-name: bob;
            animation-duration: 2s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }